{% extends "app/base.html" %}
{% load bootstrap4 static %}

{% block content %}
    <div class="text-center">
        <div class="container-fluid">
            <div class="col-md-8 offset-md-2">
                <h2>Downloads information about {{ upload.file.name }} {% if upload.company %} from {{ upload.company }}{% endif %}</h2>
                <div style="margin: 50px; padding:10px">
                    <table class="table">
                        <tr>
                            <th>Download date</th>
                            <th>Downloader</th>
                        </tr>
                        {% for download in object_list %}
                            <tr>
                                <td>{{ download.created_at}}</td>
                                <td>{{ download.downloader.username}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}