{% extends "app/base.html" %}
{% load bootstrap4 static i18n %}

{% block content %}
    <div class="text-center">
        <div class="container-sm">
            <div class="col-md-10 offset-md-1">
                <h2>{% trans "Links information" %}</h2>
                <div style="margin: 50px; padding:10px">
                    <table class="table">
                        <tr>
                            <th>{% trans "Creation date" %}</th>
                            <th>{% trans "Email" %}</th>
                            <th>{% trans "Company" %}</th>
                            <th>{% trans "First Name" %}</th>
                            <th>{% trans "Last Name" %}</th>
                            <th>{% trans "Enabled" %}</th>
                            <th>{% trans "Uploads" %}</th>
                            <th>{% trans "Edit" %}</th>
                        </tr>
                        {% for link in object_list %}
                            <tr>
                                <td>{{ link.created_at }}</td>
                                <td>{{ link.email }}</td>
                                <td>{{ link.company }}</td>
                                <td>{{ link.first_name }}</td>
                                <td>{{ link.last_name }}</td>
                                <td>{% if link.enabled %}<span class="badge badge-success">{% else %}<span class="badge badge-danger">{% endif %}{{ link.enabled }}</span></td>
                                <td><a href="{% url 'uploads' link.pk %}"><span class="badge badge-info">{{ link.upload_count }}</span></a></td>
                                <td><a href="{% url 'update-link' link.pk %}"><i class="fa fa-edit"></i></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}