{% extends "app/base.html" %}
{% load bootstrap4 static %}

{% block content %}
    <div class="text-center">
        <div class="container-sm">
            <div class="col-md-10 offset-md-1">
                <h2>Links information</h2>
                <div style="margin: 50px; padding:10px">
                    <table class="table">
                        <tr>
                            <th>Creation date</th>
                            <th>Email</th>
                            <th>Company</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Enabled</th>
                            <th>Uploads</th>
                            <th>Edit</th>
                        </tr>
                        {% for link in object_list %}
                            <tr>
                                <td>{{ link.created_at }}</td>
                                <td>{{ link.email }}</td>
                                <td>{{ link.company }}</td>
                                <td>{{ link.first_name }}</td>
                                <td>{{ link.last_name }}</td>
                                <td>{{ link.enabled }}</td>
                                <td><a href="{% url 'uploads' link.pk %}"><span class="badge badge-info">{{ link.upload_count }}</span></a></td>
                                <td><a href="{% url 'update-link' link.pk %}"><i class="fa fa-edit"></i></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}