{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Data Drop</title>
</head>
<body>
{% blocktrans %}Dear user,<br/>
<br/>
Link <a href="{{ link_url }}">{{ link_name }}</a> has been used.<br/>
<br/>
Following content has been received:
{% endblocktrans %}
<ul>
    {% for filename in filenames %}
        <li>{{ filename }}</li>
    {% endfor %}
</ul>
{% blocktrans %}
Please go to link and disable it if there are no more file to transfer. You can download content from there.<br/>
<br/>
Regards,<br/>
DataDrop
{% endblocktrans %}
</body>
</html>