{% extends "app/base.html" %}
{% load bootstrap4 i18n %}

{% block content %}
    <div class="container-sm">
        <div class="col-md-4 offset-md-4">
            <div class="text-center">
                <form method="post">{% csrf_token %}
                    <p>{% blocktrans %}Are you sure you want to delete "{{ object.file.name }}"?{% endblocktrans %}</p>
                    <input class="btn btn-primary" type="submit" value="{% trans "Confirm" %}" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}